* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}

/* header */
header {
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  position: absolute;
  padding-top: 8%;
  font-family: Arial;
  font-weight: 100;
  font-size: 42px;
  color: white;
  z-index: 1;
}

/* .header-wrap {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(4, 202, 242, 1) 8%,
    rgba(8, 160, 187, 1) 35%,
    rgba(13, 109, 119, 1) 55%,
    rgba(0, 29, 36, 1) 90%
  );
} */

/* wave curve*/
/* .wave {
  position: relative;
}

.wave::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 475px;
  background: url(../images/wave-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
} */

/* section body */
#main-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
}

/* article formatting */
h2 {
  padding-bottom: 20px;
  letter-spacing: 3px;
  color: #0891a6;
}

article {
  padding-top: 50px;
}

.second-article {
  text-align: right;
}

/* footer */
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001d24;
}

span {
  color: white;
}
